<div mat-dialog-title class="modal-header bg-main-gradient d-flex align-items-center justify-content-between">
    <div class="text-start text-white">{{data ? 'Update Feeder' : 'Add Feeder'}}</div>
    <mat-icon class="material-symbols-outlined text-white" mat-dialog-close="true">
        close
    </mat-icon>
</div>

<form [formGroup]="feederForm">
    <mat-dialog-content>
        <div>
        <p class="form-label mb-1">Feeder Name</p>
        <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Feeder Name" (keypress)="validation.noFirstSpaceAllow($event)" formControlName="feederName">
            <!-- <mat-error *ngIf="f['deviceId']?.hasError('required')">Feeder Name is Required</mat-error> -->
        </mat-form-field>
       </div>
       <div>
        <p class="form-label mb-1">Substation</p>
        <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="substationId" placeholder="Select Substation">
              <mat-option *ngFor="let sub of substationArray" [value]="sub.id">{{sub.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-stroked-button color="warn" type="button" mat-dialog-close>Cancel</button>
        <button mat-stroked-button color="accent" type="submit" (click)="onSubmit()">{{data ? 'Update' : 'Add'}}</button>
    </mat-dialog-actions>
</form>