<div class="dashboard-outer container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-6">
                    <mat-card class="">
                        <mat-card-content>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Devices-Purchased.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-1 fw-semibold">Devices Purchased</p>
                                    <h5 class="text-primary-m fw-semibold">300</h5>
                                    <div class="row">
                                        <div class="col-6 border-end">
                                            <p class="mb-0">AIS</p>
                                            <h6 class="text-primary-m fw-semibold mb-0">100</h6>
                                        </div>
                                        <div class="col-6">
                                            <p class="mb-0">Non-AIS</p>
                                            <h6 class="text-primary-m fw-semibold mb-0">100</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-6">
                    <mat-card class="">
                        <mat-card-content>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Devices-Purchased.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-1 fw-semibold">Devices Sold</p>
                                    <h5 class="text-accent-300 fw-semibold">210</h5>
                                    <div class="row">
                                        <div class="col-6 border-end">
                                            <p class="mb-0">AIS</p>
                                            <h6 class="text-accent-300 fw-semibold mb-0">60</h6>
                                        </div>
                                        <div class="col-6">
                                            <p class="mb-0">Non-AIS</p>
                                            <h6 class="text-accent-300 fw-semibold mb-0">150</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <mat-card class="">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">Vehicles Reg.</p>
                                    <h6 class="text-purple fw-semibold mb-0">150</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">Transporter Reg.</p>
                                    <h6 class="text-orange fw-semibold mb-0">100</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">White Labelling</p>
                                    <h6 class="text-pink fw-semibold mb-0">150</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">Sim Renewal</p>
                                    <h6 class="text-warn fw-semibold mb-0">150</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">Power Off</p>
                                    <h6 class="text-info-light fw-semibold mb-0">150</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img width="40" src="../../../assets/images/dashboard/Vehicles-Reg.svg" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semibold">Remainders</p>
                                    <h6 class="text-primary-light fw-semibold mb-0">150</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="">
                <mat-card-content>
                    <h6>Devices Purchased & Sales Report</h6>
                    <div class="">
                        chart
                    </div>
                </mat-card-content>
            </mat-card>
        </div>        
        <div class="col-md-4">
            <mat-card class="">
                <mat-card-content>
                    <h6>Devices Status</h6>
                    <div class="">
                        chart
                    </div>
                </mat-card-content>
            </mat-card>
        </div>        
        <div class="col-md-4">
            <mat-card class="">
                <mat-card-content>
                    <h6 class="mb-0">Recent Vehicle Registration</h6>
                    <div class="row">
                        <hr class="my-2 border-m-primary">
                    </div>
                    <div class="dashVehList">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img width="30" src="../../../assets/images/dashboard/Vehicle.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="text-primary-m fw-semibold my-1">MH 14 HI 9876</h6>
                                    <a href="#">
                                        <img width="20" src="../../../assets/images/dashboard/Arrow-right-blue.svg" alt="...">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="my-2 border-secondary">
                    </div>
                    <div class="dashVehList">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img width="30" src="../../../assets/images/dashboard/Vehicle.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="text-primary-m fw-semibold my-1">MH 14 HI 9876</h6>
                                    <a href="#">
                                        <img width="20" src="../../../assets/images/dashboard/Arrow-right-blue.svg" alt="...">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="my-2 border-secondary">
                    </div>
                    <div class="dashVehList">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img width="30" src="../../../assets/images/dashboard/Vehicle.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="text-primary-m fw-semibold my-1">MH 14 HI 9876</h6>
                                    <a href="#">
                                        <img width="20" src="../../../assets/images/dashboard/Arrow-right-blue.svg" alt="...">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="my-2 border-secondary">
                    </div>
                    <div class="dashVehList">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img width="30" src="../../../assets/images/dashboard/Vehicle.svg" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="text-primary-m fw-semibold my-1">MH 14 HI 9876</h6>
                                    <a href="#">
                                        <img width="20" src="../../../assets/images/dashboard/Arrow-right-blue.svg" alt="...">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img width="15" src="../../../assets/images/dashboard/organization.svg" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-2">
                                                <h6 class="my-1 small text-muted">Organization Name</h6>
                                                <h6 class="mb-0 small fw-semibold">Shaurya Technosoft</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>        
    </div>
</div>
       