<div mat-dialog-title class="modal-header bg-main-gradient d-flex align-items-center justify-content-between">
    <div class="text-start text-white">{{data ? 'Update Transformer' : 'Add Transformer'}}</div>
    <mat-icon class="material-symbols-outlined text-white" mat-dialog-close="true">
        close
    </mat-icon>
</div>

<form [formGroup]="transformerForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-sm-6">
                <p class="form-label mb-1">Transformer Name</p>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Transformer Name" (keypress)="validation.noFirstSpaceAllow($event)"
                        formControlName="transformerName">
                    <!-- <mat-error *ngIf="f['deviceId']?.hasError('required')">Device Name is Required</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <p class="form-label mb-1">Device</p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="deviceMasterId" placeholder="Select Device">
                        <mat-option *ngFor="let dev of deviceArray" [value]="dev.id">{{dev.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <p class="form-label mb-1">Substation</p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="substationId" placeholder="Select Substation">
                        <mat-option *ngFor="let sub of substationArray" [value]="sub.id">{{sub.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <p class="form-label mb-1">Feeder</p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="feederId" placeholder="Select Feeder">
                        <mat-option *ngFor="let userTy of feederArray" [value]="userTy.id">{{userTy.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">

        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-stroked-button color="warn" type="button" mat-dialog-close>Cancle</button>
        <button mat-stroked-button color="accent" type="submit" (click)="onSubmit()">{{data ? 'Update' :
            'Add'}}</button>
    </mat-dialog-actions>
</form>